/*body {
  margin: 0;
  padding: 0;
}

.container {
  /*margin: 10px;
  /* margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 100px;
  */

/*padding: 50px;
  /*padding-left: 50%; */
/*border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 12px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


p {
  margin: 0px;
  padding: 0;
  border: 1px solid blue;
}

.navigation {
  display: flex;
  justify-content: space;
between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links{
  display: flex;
  gap: 10px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}
*/
/*
.red-text {
  color: red;
}

.hidden {
  visibility: hidden;
}
*/

/*.red-text {
  color: red;
}

.hidden {
  visibility: hidden;
}

table {
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 5px 10px;
}

form{
  border: 1px solid black;
  padding: 5px 10px
}
*/

/*
.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #f1356d;
}

.main {
  display: flex;
  justify-content: center;
}

.main-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #f7f7f8;
}

.project:hover{
  background-color: #b2eeffc0;
}

.project-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.project-description {
  font-size: 1rem;
}

.project-image {
  margin-top: 20px;
  width: 100%;
}

.project-link {
  margin-top: 20px;
  background-color: rgba(154,252);
  padding: 10px 20px;
  border-radius: 10px;
}

p {
  margin: 0;
}

.project-list {
  display: flex;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f8;
}
*/

